@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

h1 {
  @include regular();
  @include bold();
  text-align: center;
}

.app {
  background-color: #fff;
  display: grid;
  padding: 1rem;
  grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  gap: 2rem;
  &__left,
  &__right {
    background-color: lightgray;
    min-height: 100px;
    border: 1px solid grey;
    border-radius: 10px;
    li {
      text-align: center;
      padding: 1rem;
      border-radius: 15px;
      margin: 1rem;
      @include regular();
    }
  }
  &__left li {
    background-color: red;
    border: 1px solid darkred;
    color: white;
  }
  &__right li {
    background-color: blue;
    border: 1px solid darkblue;
    color: white;
  }
}
